<main>
    <h1>Existing signers</h1>
    <h3>游꼴 游꼴 游꼴 游꼴 游꼴</h3>
    <br />
    <h2>List below:</h2>
    <br />

    <br />
    <a href="/logout" class="nav-link">logout</a>
    <div class="container">
        <h1>We have received {{count}} signature(s) so far.</h1>
        <div class="user-info four-col" id="user-info-headers">
            <span>Name</span>
            <span>Age</span>
            <span>Location</span>
            <span>Date Signed</span>
        </div>

        {{#each users}}
        <div class="user-info four-col" "left">
            {{#if webpage}}
            <a href="{{webpage}}" target="_black">{{name}}</a>
            {{else}}
            <span>{{name}}</span>
            {{/if}}

        </div>
        {{/each}}
    </div>
</main>